/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

@import url(https://fonts.googleapis.com/css?family=Montserrat)

/* Variables */
my-orange = #F57C00
my-blue = #2196F3
my-red = #f44336
my-blue-grey = #607d8b

/* Functions */
transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  transition arguments

/* HTML tags general */
html
  background-color #F5F5F5
  height 100% !important

body
  background-color transparent
  height 100% !important
  
select.form-control
  align-items: center;
  padding: 2px 2px 1px;
  border none
  border-bottom 1px solid #e0e0e0
  background-color: transparent;
  position: relative;
  box-sizing: content-box;
  min-width: 64px;
  min-height: 26px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width 100%

[layout=row]
  flex-direction row

/* Helpers */
.big-margin-right
  margin-right 20px
.big-margin-top
  margin-top 20px
.big-padding
  padding 25px
.border-radius
  border-radius 5px
.black
  color black
.blue-text
  color my-blue
.center-block
  margin 0 auto
.circle-image
  border-radius 50%
.full-height
  height 100% !important
.full-width
  width 100% !important
.link
  color my-blue
  cursor pointer
  text-decoration none
.margin-h
  margin 10px 0 !important
.margin-top
  margin-top 15px
.margin-right
  margin-right 15px
.margin-left
  margin-left 15px !important
.orange-text
  color my-orange
.no-margin
  margin 0 !important
.no-padding
  padding 0 !important
.no-link
  text-decoration none
.padding
  padding 15px
.pointer
  cursor pointer
.red-text
  color my-red
.f18
  font-size 18px !important
.transparent
  background-color transparent !important
.text-center
  text-align center
.text-right
  text-align right !important
.text-left
  text-align left
.white
  color white !important

/* Main */
.header
  background-color my-orange !important
  padding 5px 35px
  .link
    color white
    margin-left 20px
.user-panel
  background-color my-blue
  color white
  transition all linear .2s
  width 256px !important
  min-width 256px !important
  max-width 256px !important
  header
    .avatar
      padding 15px 10px 0 10px
      img
        border-radius 50%
        display block
        margin 0 auto
    .profile
      padding-bottom 10px
  .content
    .item
      padding 0 20px
      line-height 48px
      .link
        color white
        padding-left 15px
        text-decoration none
        transition all ease .25s
        &:hover
          background-color rgba(255, 255, 255, 0.3)
        &.active
          background-color rgba(255, 255, 255, 0.3)
        .icon
          color white
          margin-right 15px
.video-container
  margin 0 auto
  width 90%
  .embed-responsive
    position relative
    display block
    height 0
    padding 0
    overflow hidden
    &.embed-responsive-16by9
      padding-bottom 56.25%
    &.embed-responsive-4by3
      padding-bottom 75%
    .embed-responsive-item,.embed-responsive-item iframe
      position absolute
      top 0
      bottom 0
      left 0
      width 100%
      height 100% !important
      border 0

/* Generals */
.fixed-action-btn
  position absolute
  top 75px
  right 10px
.md-button
  padding 0 6px
  font-size 14px
.main-title
  border-bottom 2px solid my-orange
  margin 0 auto 15px auto
  padding 15px 5px
  text-align left
  width 90%
  .title
    color #e65100
    font-size 30px
    font-family 'Montserrat', sans-serif
    margin 5px 0 !important
  .subtitle
    color my-orange
    margin 5px 0 !important

/* Libraries */
#loading-bar
  .bar
    background-color my-blue
    height 4px
.ladda-button[disabled], .ladda-button[disabled]:hover, .ladda-button[data-loading], .ladda-button[data-loading]:hover
  background-color rgba(0,0,0,0.12)
  color rgba(0,0,0,0.26) !important
  cursor default
  outline none
  border 0
  border-radius 3px

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
