/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

.landing
  .title
    color white
  .header-landing
    position relative
    .video
      position relative
      height 75vh
      overflow hidden
      video
        position absolute
        top 0
        left 0
        bottom 0
        right 0
        min-height 100%
        min-width 100%
      .content
        padding 15px
        position absolute
        top 0px
        left 0
        width 100%
        height 100%
        z-index 2
        .title
          text-shadow: 2px 2px 4px #000000;

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector