/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

.me-publication
  .publication-menu
    .card-content
      padding 0 !important
      h1
        padding 0 10px
      .publication-menu-list
        .publication-menu-list-item
          line-height 48px
          padding 0 !important
          a
            &.link
              border-left 5px solid transparent
              font-size 16px
              padding 0 10px
              transition all .25s ease
              width 100% !important
              &:hover
                color my-orange
              &.active
                color my-orange
                border-left 5px solid my-orange
            &.published
              background-color #fff3e0
              color my-red
              &:hover
                background-color #ffe0b2
                color my-red
            &.unpublished
              background-color #e1f5fe
              color my-blue
              &:hover
                background-color #b3e5fc
                color my-blue
            &.delete
              background-color my-red
              color white
              &:hover
                background-color #d32f2f
                color white
.img-container
  position relative
  &:hover
    .delete-container
      display block
  img
    margin 10px
    width 150px !important
    height 150px !important
  .delete-container
    background rgba(0,0,0,.7)
    border-radius 5px
    display none
    position absolute
    bottom 0
    top 0
    left 0
    right 0
    text-align right
    .delete
      color my-orange
      font-size 30px
.validations
  .validations-list
    .item
      min-height 35px !important
      padding 0 5px
      i
        margin-right 5px
        &.no-completed
          color #f44336
        &.completed
          color #4caf50
      span
        font-size 15px
        &.completed
          color #4caf50
          text-decoration line-through
.pagination
  li
    list-style none
    a
      cursor pointer
      margin 0 15px
    &.active
      color my-blue
      font-weight bold

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector