/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

/* Session header */
.session
  position relative
  width 100%
  height 300px
  .session-header
    position absolute
    top 0
    left 0
    right 0
    background-color my-orange !important
    height 300px
    padding-top 30px
  .session-card
    position absolute
    top 100px
    left 0
    right 0
    margin 0 auto
    .title
      margin 15px 0
      text-align center
    .socials
      button
        color white
        &.facebook
          background: #3b5998
          &:not([disabled]):hover,&.md-focused
            background-color: #2d4373 !important
        &.twitter
          background-color: #55acee
          &:not([disabled]):hover,&.md-focused
            background-color: #2795e9 !important
        &.google-plus
          background-color: #dd4b39
          &:not([disabled]):hover,&.md-focused
            background-color: #c23321 !important


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector