md-dialog(flex="50")
  md-toolbar.md-accent
    div.md-toolbar-tools
      h1.md-headline.white Agrega la ubicación de tu inmueble
      span(flex)
      md-button.md-icon-button(ng-click="cancel()")
        i.fa.fa-times.white
  md-dialog-content.padding
    form.margin-top(name="locationForm")
      wizard(on-finish='finishedWizard()' hide-indicators="true")
        wz-step(title='State')
          div(layout="row" layout-wrap layout-align="center center")
            md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
              label Estado
              md-select(name="state" ng-model="publication.location.state" required)
                md-option(ng-repeat="state in states track by state.slug" value="{{state.name}}")
                  | {{state.name}}
          div(layout="row" layout-wrap layout-align="center center")
            md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
              label Ciudad
              input(type="text" name="city" ng-model="publication.location.city" required)
          .text-right
            md-button.md-raised.md-primary(wz-next='' ng-disabled="locationForm.$pristine || locationForm.state.$invalid || locationForm.city.$invalid")
              span.white Siguiente
        wz-step(title='Address')
          div(layout="row" layout-wrap layout-align="center center")
            md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
              label Calle, número y colonia
              input(type="text" name="address" ng-model="publication.location.address" required)
          div(layout="row" layout-wrap layout-align="center center")
            md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
              label Referencia (opcional)
              input(type="text" name="address_line_2" ng-model="publication.location.address_line_2")
          div(layout="row" layout-wrap layout-align="center center")
            md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
              label Código postal
              input(type="text" name="zip_code" ng-model="publication.location.zip_code" required)
          .text-right.big-margin-top
            md-button.md-primary(wz-previous='')
              span Regresar
            md-button.md-raised.md-primary(ng-click="saveLocation()" ladda="loading" ng-disabled="locationForm.$pristine || locationForm.$invalid")
              span.white Guardar