md-dialog(flex="50")
  md-toolbar.md-accent
    div.md-toolbar-tools
      h1.md-title.white ¡Elige tu opciones!
      span(flex)
      md-button.md-icon-button(ng-click="cancel()")
        i.fa.fa-times.white
  md-dialog-content.padding
    form.margin-top(name="detailsForm" layout="row" layout-wrap layout-align="start center")
      md-checkbox(flex="30" ng-repeat="detail in option_details" ng-click="detailSelected(detail)" ng-model="detail.included") {{ detail.name }}
    .text-right.big-margin-top
      md-button.md-raised.md-primary(ng-click="addDetails()" ladda="loadingNew" ng-disabled="detailsForm.$pristine || detailsForm.$invalid")
        span.white Guardar