md-dialog(flex="65")
  md-toolbar.md-accent
    div.md-toolbar-tools
      h1.md-title.white ¡Elige tu características adicionales!
      span(flex)
      md-button.md-icon-button(ng-click="cancel()")
        i.fa.fa-times.white
  md-dialog-content.padding
    form.margin-top(name="detailsForm" layout="row" layout-wrap layout-align="start center")
      md-checkbox(flex="30" flex-sm="50" flex-xs="100" ng-repeat="detail in additional_details | startFrom: additional_details.pagination.page * additional_details.pagination.perPage | limitTo: additional_details.pagination.perPage" ng-click="detailSelected(detail)" ng-model="detail.included") {{ detail.name }}
    div(ng-if="additional_details.length > 0")
      ul.pagination(layout="row" layout-wrap layout-align="center center")
        li
          md-button.md-icon-button(title="Anterior" aria-label="Anterior" ng-hide="additional_details.pagination.page == 0" ng-click="additional_details.pagination.prevPage()")
            i.fa.fa-chevron-left
        li(ng-repeat="n in [] | range: additional_details.pagination.numPages" ng-class="{active: n == additional_details.pagination.page}")
          a.number(ng-click="additional_details.pagination.toPageId(n)") {{n + 1}}
        li
          md-button.md-icon-button(title="Siguiente" aria-label="Siguiente" ng-hide="(additional_details.pagination.page+1)== additional_details.pagination.numPages" ng-click="additional_details.pagination.nextPage()")
            i.fa.fa-chevron-right
      //- md-button.md-icon-button(title="Anterior" aria-label="Anterior" ng-hide="additional_details.pagination.page == 0" ng-click="additional_details.pagination.prevPage()")
      //-   i.fa.fa-chevron-left
      //- span Página {{ additional_details.pagination.page+1 }}
      //- md-button.md-icon-button(title="Siguiente" aria-label="Siguiente" ng-hide="(additional_details.pagination.page+1)== additional_details.pagination.numPages" ng-click="additional_details.pagination.nextPage()")
      //-   i.fa.fa-chevron-right
    .text-right.big-margin-top
      md-button.md-raised.md-primary(ng-click="addDetails()" ladda="loadingNew" ng-disabled="detailsForm.$pristine || detailsForm.$invalid")
        span.white Guardar