md-card
  md-card-content.card-content
    h1.md-headline.margin-h Menú
    md-divider
    md-list.publication-menu-list
      md-list-item.publication-menu-list-item(layout="column" layout-align="center start")
        a.link(ui-sref="home.me.publication.general" ui-sref-active="active" flex)
          i.fa.fa-file-text.margin-right
          span Información general
      md-list-item.publication-menu-list-item(ng-if="publication.category.slug=='inmuebles'" layout="column" layout-align="center start")
        a.link(ui-sref="home.me.publication.location" ui-sref-active="active" flex)
          i.fa.fa-map-marker.margin-right
          span Ubicación
      md-list-item.publication-menu-list-item(layout="column" layout-align="center start")
        a.link(ui-sref="home.me.publication.image" ui-sref-active="active" flex)
          i.fa.fa-picture-o.margin-right
          span Portada
      md-list-item.publication-menu-list-item(layout="column" layout-align="center start")
        a.link(ui-sref="home.me.publication.images" ui-sref-active="active" flex)
          i.fa.fa-camera.margin-right
          span Imágenes
      md-list-item.publication-menu-list-item(layout="column" layout-align="center start")
        a.link(ui-sref="home.me.publication.video" ui-sref-active="active" flex)
          i.fa.fa-video-camera.margin-right
          span Video
      md-list-item.publication-menu-list-item(layout="column" layout-align="center start")
        a.link(ui-sref="home.me.publication.characteristics" ui-sref-active="active" flex)
          i.fa.fa-th-list.margin-right
          span Características
      md-list-item.publication-menu-list-item(layout="column" layout-align="center start")
        a.link(ui-sref="home.me.publication.options" ui-sref-active="active" flex)
          i.fa.fa-list-alt.margin-right
          span Opciones
      md-list-item.publication-menu-list-item(layout="column" layout-align="center start")
        a.link(ui-sref="home.me.publication.additionals" ui-sref-active="active" flex)
          i.fa.fa-plus.margin-right
          span Adicionales
      md-list-item.publication-menu-list-item(ng-if="publication.publishable" layout="column" layout-align="center start")
        a.link(ng-class="publication.published ? 'published' : 'unpublished'" ng-click="publishPublication()" flex)
          i.fa.fa-check-circle.margin-right(ng-if="!publication.published")
          span(ng-if="!publication.published") Publicar
          i.fa.fa-times.margin-right(ng-if="publication.published")
          span(ng-if="publication.published") Remover del público
      md-list-item.publication-menu-list-item(layout="column" layout-align="center start")
        a.link.delete(ng-click="deletePublicationConfirm($event)" flex)
          i.fa.fa-trash.margin-right
          span Eliminar
      md-list-item.publication-menu-list-item(layout="column" layout-align="center start")
        a.link(ui-sref="home.me.publications" flex)
          i.fa.fa-chevron-left.margin-right
          span Regresar