aside.validations
  h1.md-subhead.margin-h Estas a unos pasos de publicar...
  md-list.validations-list
    md-list-item.item(layout="row" layout-wrap layout-align="start center" ng-repeat="validation in publication.validations")
      i.fa.fa-times.no-completed(ng-if="!validation.completed")
      i.fa.fa-check.completed(ng-if="validation.completed")
      span(ng-class="{completed: validation.completed}") {{ validation.rule }}