md-button.md-fab.md-mini.md-primary.facebook(ng-click="authenticate('facebook', {params: oAuthForm}); loadingCircle();")
  i.fa.fa-facebook
md-button.md-fab.md-mini.md-primary.twitter(ng-click="authenticate('twitter', {params: oAuthForm}); loadingCircle();")
  i.fa.fa-twitter
md-button.md-fab.md-mini.md-primary.google-plus(ng-click="authenticate('google', {params: oAuthForm}); loadingCircle();")
  i.fa.fa-google-plus