.main-title(layout="column" layout-align="start start")
  h1.md-display-1.margin-h.title {{section.title}}
  h2.md-title.margin-h.subtitle {{section.subtitle}}
.ui-view(layout="row" layout-wrap layout-align="center center")