div.session(layout="row")
  div.session-header(layout="row" layout-align='center start')
    a(href="/")
      img(src="/assets/images/rentalotodo_naranja.png" alt="Rentalo" style="width:200px;")
  ui-view.session-card(flex-gt-lg="45" flex-lg="45" flex-md="50" flex-sm="60" flex-xs="80")