md-card
  md-content.md-padding
    div(layout="row" layout-wrap layout-align="center center")
      h1.md-title(ng-if="my_details.length == 0")
        | ¡Aún no tienes características de tu inmueble, 
        a.link(ng-click="newCharacteristic($event)") agregalas desde aquí!
      div(flex ng-if="my_details.length > 0")
        h1.md-title Modifica las características de tu inmueble
        form(name="myDetailsForm")
          div(layout="row" layout-wrap layout-align="center center" layout-align-gt-sm="start center")
            md-input-container(ng-repeat="(key, detail) in my_details" flex-gt-lg="33" flex-lg="33" flex-md="33" flex-sm="90" flex-xs="90")
              label {{ detail.text_detail.name }}
              input(type="text" name="title" ng-model="detail.answer")
          .text-right.big-margin-top
            md-button.md-raised.md-primary(ng-click="saveMyDetails(my_details)" ladda="loading" ng-disabled="myDetailsForm.$pristine || myDetailsForm.$invalid")
              span.white Guardar
.fixed-action-btn
  md-button(class="md-fab" aria-label="Agrega características" ng-click="newCharacteristic($event)")
    i.fa.fa-pencil.f18