md-card
  md-content.md-padding
    form(name="publicationForm")
      div(layout="row" layout-wrap layout-align="center center")
        md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
          label Tipo de publicación
          md-select(ng-model="publication.publication_type_id" name="type" required)
            md-option(ng-repeat="type in types track by type.slug" value="{{type.id}}")
              | {{type.name}}
      div(layout="row" layout-wrap layout-align="center center")
        md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
          label Categoría
          md-select(ng-model="publication.category.slug" ng-change="getSubcategories()")
            md-option(ng-repeat="category in categories track by category.slug" value="{{category.slug}}")
              | {{category.name}}
        md-input-container(ng-show="publication.category.slug" flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
          label Subcategoría
          md-select(ng-model="publication.subcategory_id" name="subcategory" required)
            md-option(ng-repeat="subcategory in subcategories" value="{{subcategory.id}}")
              | {{subcategory.name}}
      div(layout="row" layout-wrap layout-align="center center")
          md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
            label Título de la publicación
            input(type="text" name="title" ng-model="publication.title" required ng-minlength="5")
            div(ng-messages="publicationForm.title.$error" ng-show="publicationForm.title.$dirty" role="alert" multiple)
              div(ng-message="required") El título es obligatorio
              div(ng-message="minlength") El título es muy corto
          md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
            label Descripción de la publicación
            textarea(name="description" ng-model="publication.description" required ng-minlength="5" ng-maxlength="100")
            div(ng-messages="publicationForm.description.$error" ng-show="publicationForm.description.$dirty" role="alert" multiple)
              div(ng-message="required") La descripción es obligatoria
              div(ng-message="minlength") La descripción es muy corta
              div(ng-message="maxlength") La descripción es muy larga
          div.text-right(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
            span.blue-text {{ 100 - publication.description.length }}
      .margin-top(flex layout="row" layout-align="end center")
        md-button.md-raised.md-primary(ng-click="updatePublication()" ladda="loading" ng-disabled="publicationForm.$pristine || publicationForm.$invalid")
          span.white Guardar