md-card
  md-content.md-padding(layout="column" layout-align="center center")
    img.border-radius(src="{{url}}{{publication.image.image.preview.url}}" ng-if="publication.image.image.preview.url && !my_image")
    img.border-radius(ngf-src="my_image" ng-if="my_image" width="900" height="300")
    md-button.md-primary.margin-top(ngf-select ng-model="my_image" ngf-multiple="false")
      i.fa.fa-upload.big-margin-right
      span Seleccionar imagen
    div.text-center.margin-bottom(ng-if="my_image" layout="row" layout-wrap layout-align="center center")
      md-button.pointer.md-primary.md-raised(ng-click="upload(my_image)" ladda="loading")
        span.white Guardar
      md-button.pointer.md-warn.md-raised(ng-click="uploadCancel()")
        | Cancelar