md-card
  md-content.md-padding(layout="column" layout-align="center center")
    div(layout="row" layout-wrap)
      div.img-container(flex ng-repeat="image in images")
        img.border-radius(src="{{url}}{{image.image.image.preview.url}}" ng-if="image.image.image.preview.url")
        div.delete-container
          md-button.delete(class="md-icon-button" aria-label="Settings" ng-click="deleteImage(image)")
            i.fa.fa-times
      img.border-radius(style="margin: 0 5px;width:150px !important;height:150px !important;" ng-repeat="myfile in myfiles" ngf-src="myfile" ng-if="myfiles")
    md-button.md-primary.margin-top(ngf-select="uploadFiles($files)" ng-model="files" ngf-multiple="true")
      i.fa.fa-upload.big-margin-right
      span Seleccionar imágenes
    div.text-center.margin-bottom(ng-if="files != null" layout="row" layout-wrap layout-align="center center")
      md-button.pointer.md-primary.md-raised(ng-click="upload(files)" ladda="loading")
        span.white Guardar
      md-button.pointer.md-warn.md-raised(ng-click="uploadCancel()")
        | Cancelar