md-card
  md-content.md-padding
    div(ng-if="!publication.location" layout="row" layout-wrap layout-align="center center")
      h1.md-title
        | ¡Aún no agregas una ubicación, 
        a.link(ng-click="newLocation($event)") créala desde aquí!
    form.margin-top(ng-if="publication.location" name="locationForm")
      div(layout="row" layout-wrap layout-align="center center")
        md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
          label Estado
          md-select(name="state" ng-model="publication.location.state" required)
            md-option(ng-repeat="state in states track by state.slug" value="{{state.name}}")
              | {{state.name}}
      div(layout="row" layout-wrap layout-align="center center")
        md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
          label Ciudad
          input(type="text" name="city" ng-model="publication.location.city" required)
      div(layout="row" layout-wrap layout-align="center center")
        md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
          label Calle, número y colonia
          input(type="text" name="address" ng-model="publication.location.address" required)
      div(layout="row" layout-wrap layout-align="center center")
        md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
          label Referencia (opcional)
          input(type="text" name="address_line_2" ng-model="publication.location.address_line_2")
      div(layout="row" layout-wrap layout-align="center center")
        md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
          label Código postal
          input(type="text" name="zip_code" ng-model="publication.location.zip_code" required)
      .text-right
        md-button.md-raised.md-primary(ng-click="updateLocation()" ladda="loading" ng-disabled="locationForm.$pristine || locationForm.$invalid")
          span.white Actualizar