div.me-publication(flex="90" layout="row" layout-wrap layout-align="start start")
  div.publication-menu(flex-gt-lg="20" flex-lg="20" flex-md="20" flex-sm="35" flex-xs="100")
    include ../../snippets/me_publication_menu.jade
  div(flex-gt-lg="65" flex-lg="65" flex-md="65" flex-sm="65" flex-xs="100")
    ui-view
  div(flex-gt-lg="15" flex-lg="15" flex-md="15" flex-sm="100" flex-xs="100")
    include ../../snippets/me_publication_validations.jade