md-card
  md-content.md-padding
    form(name="publicationForm")
      div(layout="row" layout-wrap layout-align="center center")
        md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
          label Ingresa el link de tu video
          input(type="text" name="video" ng-model="publication.video")
    div.video-container(ng-if="publication.video")
      div.embed-responsive.embed-responsive-16by9
        embed-video.embed-responsive-item(iframe-id="video1" api="1" ng-href="{{ publication.video }}")
          a(ng-href="{{ publication.video }}")
    .margin-top.center-block(flex="90" layout="row" layout-align="end center")
      md-button.md-raised.md-primary(ng-click="updatePublication()" ladda="loading" ng-disabled="publicationForm.$pristine || publicationForm.$invalid")
        span.white Guardar