md-card.md-whiteframe-2dp(flex="100")
  md-card-content
    h1.md-display-1.text-center ¡Gracias por registrarte!
    md-divider
    h2.md-title.text-center.green Para continuar...
    h3.md-subhead.text-center Por favor confirma tu correo electrónico desde el email que te enviamos
    div.text-center
      md-button.md-raised.md-primary(ui-sref="home.dashboard")
        span.white Ir a inicio