md-card.md-whiteframe-2dp(flex="100")
  md-card-content
    h1.md-subhead.margin-h Para terminar tu registro, por favor ingresa tu dirección de correo electrónico
    md-divider
    md-list(ng-if="errors")
      md-list-item(ng-repeat="error in errors")
        p.red-text {{ error }}
    form.margin-top(flex layout="row" layout-align='center center' layout-wrap name="loginForm" novalidate)
      md-input-container.md-icon-float.md-block(flex='80')
        label Correo electrónico
        input(type="email" ng-model="updateAccountForm.email" name="email" required id="email")
        div(ng-messages="loginForm.email.$error" ng-show="loginForm.email.$dirty")
          div(ng-message="required") El correo electrónico es obligatorio
          div(ng-message="email") El correo electrónico es incorrecto
      div.text-right(flex='80')
        md-button.md-raised.md-primary(ladda="updateLoading" ng-disabled="loginForm.$invalid" ng-click="updateEmail()")
          span.white Actualizar