md-card.md-whiteframe-2dp(flex="100")
  md-card-content
    h1.md-display-1.title Ingresa
    md-divider
    div(ng-if="loading" layout="column" layout-align="center center")
      md-progress-circular(md-mode="indeterminate" md-diameter="60")
    div.margin-top.socials(layout="row" layout-align="center center")
      include ../snippets/socials.jade
    p(style="margin: 25px 0;text-align: center;") o con tu correo electrónico
    div.errors(ng-if="errors")
      p.error-item.md-body-2(ng-repeat="error in errors") {{error}}
    form.margin-top(flex layout="row" layout-align='center center' layout-wrap name="loginForm" novalidate)
      md-input-container(flex='80')
        label="Correo electrónico"
        input(type="email" ng-model="login.email" name="email" required id="email")
        div(ng-messages="loginForm.email.$error" ng-show="loginForm.email.$dirty")
          div(ng-message="required") El correo electrónico es obligatorio
          div(ng-message="email") El correo electrónico es incorrecto
      md-input-container(flex='80')
        label Contraseña
        input(type="password" ng-model="login.password" name="password" required id="password")
        div(ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty")
          div(ng-message="required") La contraseña es obligatoria
      div.text-right(flex='80')
        md-button.md-raised.md-primary(ng-disabled="loginForm.$invalid" ng-click="loginSubmit()" ladda="loginLoading")
          span.white Ingresar
      div.text-right(flex='80')
        p.md-subhead
          | Si no tienes cuenta, 
          a.orange-text.no-link(ui-sref="session.register") regístrate aquí!
        p.md-subhead
          | ¿Olvidaste tu contraseña?, 
          a.orange-text.no-link(ui-sref="session.password_recovery") recupérala aquí!