md-card.md-whiteframe-2dp(flex="100")
  md-card-content
    h1.md-display-1.text-center ¡Recupera tu contraseña!
    md-divider
    form.margin-top(flex layout="row" layout-align='center center' layout-wrap name="recoveryForm" novalidate)
      md-input-container(flex='80')
        label Correo electrónico
        input#email(type="email" ng-model="recovery.email" name="email" required)
        div(ng-messages="recoveryForm.email.$error" ng-show="recoveryForm.email.$dirty")
          div(ng-message="required") El correo electrónico es obligatorio
          div(ng-message="email") El correo electrónico es incorrecto
      div.text-right(flex='80')
        md-button.md-raised.md-primary(ng-disabled="recoveryForm.$invalid" ng-click="recoveryPassword()" ladda="loading")
          | Recuperar contraseña
    md-divider
    div
      md-button.md-primary(ui-sref="session.login")
        | Regresar



