md-card.md-whiteframe-2dp(flex="100")
  md-card-content
    h1.md-display-1.title Regístrate
    md-divider
    div(ng-if="loading" layout="column" layout-align="center center")
      md-progress-circular(md-mode="indeterminate" md-diameter="60")
    div.margin-top.socials(layout="row" layout-align="center center")
      include ../snippets/socials.jade
    p(style="margin: 25px 0;text-align: center;") o con tu correo electrónico
    div.errors(ng-if="errors")
      p.error-item.md-body-2(ng-repeat="error in errors") {{error}}
    form.margin-top(flex layout="row" layout-align='center center' layout-wrap name="registerForm" novalidate)
      md-input-container(flex='80')
        label Correo electrónico
        input(type="email" ng-model="register.email" name="email" required id="email")
        div(ng-messages="registerForm.email.$error" ng-show="registerForm.email.$dirty")
          div(ng-message="required") El correo electrónico es obligatorio
          div(ng-message="email") El correo electrónico es incorrecto
      md-input-container(flex='80')
        label Contraseña
        input(type="password" ng-model="register.password" name="password" required id="password")
        div(ng-messages="registerForm.password.$error" ng-show="registerForm.password.$dirty")
          div(ng-message="required") La contraseña es obligatoria
      md-input-container(flex='80')
        label Confirma tu contraseña
        input(type="password" ng-model="register.password_confirmation" name="password_confirmation" id="password_confirmation" required ng-confirm-field confirm-against="register.password")
        div(ng-messages="registerForm.password_confirmation.$error" ng-show="registerForm.password_confirmation.$dirty")
          div(ng-message="noMatch") Las contraseñas no coinciden
      div.text-right(flex='80')
        md-button.md-raised.md-primary(ng-disabled="registerForm.$invalid" ng-click="registrationSubmit()" ladda="loginLoading")
          span.white Regístrate
      div.text-right(flex='80')
        p.md-subhead
          | Si ya tienes cuenta, 
          a.orange-text.no-link(ui-sref="session.login") ingresa aquí!