div(flex="100").landing

  //- Header
  div.header-landing(flex layout="column")
    .video
      video(autoplay="autoplay" muted="muted" loop="true" preload="auto")
        source( type="video/mp4" src="/assets/videos/house.mp4")
      .content.full-width.text-center(flex layout="column" layout-align="center center")
        h1.md-display-2.title ¡Lo que buscas, lo encuentras!
        md-input-container(layout="row" md-no-float class="md-accent" flex="50" style="padding-bottom:0px;margin-left:25px")
         i.fa.fa-search.white
         input(ng-model="searchInput" placeholder="Buscar aquí..." style="color:white;padding-left:25px;margin-left:5px")