div(flex layout="row" layout-align='center center' layout-wrap)
  div(flex-gt-lg="30" flex-lg="30" flex-md="30" flex-sm="90" flex-xs="90" layout="column" layout-align='center center')
    img.circle-image(src="/assets/images/default-avatar.jpg" alt="Avatar" width="150" height="150" ng-if="!user.avatar.sidenav.url && !my_avatar")
    img.circle-image(src="{{url}}{{user.avatar.sidenav.url}}" ng-if="user.avatar.sidenav.url && !my_avatar")
    img.circle-image(ngf-src="my_avatar" ng-if="my_avatar" width="150" height="150")
    md-button.md-primary.margin-top(ngf-select ng-model="my_avatar" ngf-multiple="false")
      i.fa.fa-upload.big-margin-right.my-orange
      span.black-tich Seleccionar imagen
    div.text-center.margin-bottom(ng-if="my_avatar" layout="row" layout-wrap layout-align="center center")
      md-button.pointer.md-primary.md-raised(ng-click="upload(my_avatar)" ladda="loadingAvatar")
        span.white Guardar
      md-button.pointer.md-warn.md-raised(ng-click="uploadCancel()")
        | Cancelar
  md-card.md-whiteframe-2dp.text-center(flex-gt-lg="60" flex-lg="60" flex-md="60" flex-sm="90" flex-xs="90")
    md-toolbar.md-accent
      div.md-toolbar-tools
        h1.md-headline.white.full-width.text-center Datos personales
    md-card-content
      form(name="profileForm")
        .padding(flex)
          div(layout="row" layout-wrap layout-align="center center")
            md-input-container(flex-gt-lg="33" flex-lg="33" flex-md="33" flex-sm="100" flex-xs="100")
              label Nombre
              input(type="text" name="name" ng-model="me.name")
            md-input-container(flex-gt-lg="33" flex-lg="33" flex-md="33" flex-sm="100" flex-xs="100")
              label Apellido paterno
              input(type="text" name="middle" ng-model="me.middle" id="middle")
            md-input-container(flex-gt-lg="33" flex-lg="33" flex-md="33" flex-sm="100" flex-xs="100")
              label Apellido materno
              input(type="text" name="last" ng-model="me.last" id="last")
          div(layout="row" layout-wrap layout-align="center center")
            md-input-container(flex-gt-lg="50" flex-lg="50" flex-md="50" flex-sm="100" flex-xs="100")
              label Teléfono
              input(type="phone" name="phone" ng-model="me.phone" ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]+$/")
              div(ng-messages="profileForm.phone.$error" ng-show="profileForm.phone.$dirty")
                span.red(ng-message="minlength") El número de teléfono es muy corto
                span.red(ng-message="maxlength") El número de teléfono es muy largo
                span.red(ng-message="pattern") Introduzca un número de teléfono válido
            md-input-container(flex-gt-lg="50" flex-lg="50" flex-md="50" flex-sm="100" flex-xs="100")
              label Celular
              input(type="phone" name="cellphone" ng-model="me.cellphone" id="cellphone" ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]+$/")
              div(ng-messages="profileForm.cellphone.$error" ng-show="profileForm.cellphone.$dirty")
                span.red(ng-message="minlength") El número de celular es muy corto
                span.red(ng-message="maxlength") El número de celular es muy largo
                span.red(ng-message="pattern") Introduzca un número de celular válido
          div(layout="row" layout-wrap layout-align="center center")
            md-input-container(flex-gt-lg="100" flex-lg="100" flex-md="100" flex-sm="100" flex-xs="100")
              label Alias
              input(type="text" name="alias" ng-model="me.alias" id="alias" ng-taked="error_alias")
              div(ng-messages="profileForm.alias.$error" ng-show="profileForm.alias.$dirty")
                span.red {{error_alias}}
          div(layout="row" layout-wrap layout-align="center center")
            md-input-container(flex-gt-lg="100" flex-lg="100" flex-md="100" flex-sm="100" flex-xs="100")
              label Biografía
              textarea(name="bio" ng-model="me.bio")
          .text-right(flex)
            md-button.md-raised.md-primary(ng-click="saveProfile()" ladda="loading" ng-disabled="profileForm.$pristine || profileForm.$invalid")
              span.white Actualizar perfil
  md-card.md-whiteframe-2dp.text-center(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
    md-toolbar.md-accent
      div.md-toolbar-tools
        h1.md-headline.white.full-width.text-center Correo electrónico
    md-card-content
      form(name="accountForm" flex layout="row" layout-align='center center' layout-wrap)
        md-input-container(flex-gt-lg="50" flex-lg="50" flex-md="90" flex-sm="90" flex-xs="90")
          label Correo electrónico
          input(type="email" ng-model="user.email" id="email")
        .text-center(flex='100')
          md-button.md-raised.md-primary(ng-click="updateEmail()" ladda="loadingEmail" ng-disabled="accountForm.$pristine || accountForm.$invalid")
            span.white Actualizar correo electrónico

  //- md-card(ng-if="!user.uid")
  //-   md-card-content
  //-     form(name="password_form")
  //-       md-input-container
  //-         label Contraseña
  //-         input(type="password" name="password" ng-model="profile.password" id="password" required)
  //-       md-input-container
  //-         label Repetir contraseña
  //-         input(type="password" name="password_confirmation" ng-model="profile.password_confirmation" id="password_confirmation" required)
  //-       .text-right
  //-         md-button.md-raised.md-primary(ng-click="updatePassword()" ng-disabled="password_form.$pristine || password_form.$invalid")
  //-             | Cambiar contraseña