div.publications(flex="95" layout="row" layout-align='start start' layout-wrap)
  div.no-publications(ng-if="publications.length == 0" flex layout="column" layout-align="center center")
    h1.md-display-1
      | ¡Aún no tienes publicaciones, 
      a.link(ng-click="newPublication($event)") crea una desde aquí!
  div(flex ng-if="publications == null")
    md-progress-circular.center-block(md-mode="indeterminate" md-diameter="96")
  div.publication-cards.center-block(flex layout="row" layout-wrap)
    md-card(ng-if="publications.length > 0" flex="20" ng-repeat="publication in publications")
      a.pointer(ui-sref="home.me.publication.general({slug: publication.slug})")
        img(src="{{ url }}{{ publication.image.image.card.url }}" class="md-card-image" alt="cover")
      md-card-title
        md-card-title-text
          h1.md-title.margin-h {{ publication.title }}
          md-divider
          span(class="md-subhead") {{ publication.category.name }} / {{ publication.subcategory.name }}
      //- md-card-content
      //-   p
      //-     |The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest...
      md-card-actions.icons(layout="row" layout-align="end center")
        md-button(class="md-icon-button" aria-label="Settings" href="#")
          i.fa.fa-eye
          md-tooltip(md-visible="false" md-direction="right")
            | Ver publicación
        md-button(class="md-icon-button" aria-label="Share")
          i.fa.fa-share
          md-tooltip(md-visible="false" md-direction="right")
            | Compartir publicación
        md-button(class="md-icon-button" aria-label="Edit" ui-sref="home.me.publication.general({slug: publication.slug})")
          i.fa.fa-pencil
          md-tooltip(md-visible="false" md-direction="right")
            | Editar publicación
  .fixed-action-btn
    md-button(class="md-fab" aria-label="Crea tu publicacion" ng-click="newPublication($event)")
      i.fa.fa-plus